<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/birds">Birds</a>
        <a href="/birders">Birders</a>
        <a href="/locations">Locations</a>
        <a href="/sightings">Sightings</a>
    </nav>

    {{{body}}}

</body>
</html>