<h1>Home page</h1>
<div class="homepageDescription">
    <p>Welcome to In Flight Entertainment Bird Club! Please share your sightings.</p>
</div>

<div class="tenor-gif-embed" data-postid="20461330" data-share-method="host" data-aspect-ratio="1.77778" data-width="50%"><a href="https://tenor.com/view/spinning-duck-duck-spinning-eggsotix-haggisbandit-gif-20461330">Spinning Duck Duck GIF</a>from <a href="https://tenor.com/search/spinning+duck-gifs">Spinning Duck GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<form action="/reset" method="POST">
  <button type="submit">Reset DB</button>
</form>
